#hirer_details {
  width: 100vw;
  min-height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  background-color: black;
  color: white;
  font-family: "Lora", serif;
  /* font-family: "Inter", sans-serif; */
}
  
#hirer_details > div {
  width: 100vw;
}

.custom-form-select {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

.custom-form-select option {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}
